<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2024, AutoMQ CO.,LTD.
  ~
  ~ Use of this software is governed by the Business Source License
  ~ included in the file BSL.md
  ~
  ~ As of the Change Date specified in that file, in accordance with
  ~ the Business Source License, use of this software will be governed
  ~ by the Apache License, Version 2.0
  -->
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="database/config.properties">
    </properties>

    <settings>
        <setting name="useGeneratedKeys" value="true" />
        <setting name="logImpl" value="SLF4J" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <package name="com.automq.rocketmq.metadata.dao"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="apache.rocketmq.controller.v1.GroupStatus" />
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="apache.rocketmq.controller.v1.GroupType" />
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="apache.rocketmq.controller.v1.TopicStatus" />
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="apache.rocketmq.controller.v1.AssignmentStatus" />
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="apache.rocketmq.controller.v1.StreamRole" />
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="apache.rocketmq.controller.v1.StreamState" />
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="apache.rocketmq.controller.v1.S3ObjectState" />
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="apache.rocketmq.controller.v1.MessageType" />
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="apache.rocketmq.controller.v1.SubscriptionMode" />
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="com.automq.rocketmq.metadata.DruidDataSourceFactory">
                <property name="jdbcUrl" value="${jdbcUrl}"/>
                <property name="username" value="${userName}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="database/mapper/SequenceMapper.xml" />
        <mapper resource="database/mapper/GroupMapper.xml" />
        <mapper resource="database/mapper/GroupProgressMapper.xml" />
        <mapper resource="database/mapper/SubscriptionMapper.xml" />
        <mapper resource="database/mapper/LeaseMapper.xml" />
        <mapper resource="database/mapper/NodeMapper.xml" />
        <mapper resource="database/mapper/StreamMapper.xml" />
        <mapper resource="database/mapper/RangeMapper.xml" />
        <mapper resource="database/mapper/S3ObjectMapper.xml" />
        <mapper resource="database/mapper/TopicMapper.xml" />
        <mapper resource="database/mapper/QueueAssignmentMapper.xml" />
        <mapper resource="database/mapper/S3StreamObjectMapper.xml" />
        <mapper resource="database/mapper/S3StreamSetObjectMapper.xml" />
    </mappers>
</configuration>