<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.automq.rocketmq.controller.metadata.database.mapper.GroupProgressMapper">

    <insert id="createOrUpdate" parameterType="GroupProgress">
        INSERT INTO group_progress(group_id, topic_id, queue_id, queue_offset)
        VALUES(#{groupId}, #{topicId}, #{queueId}, #{queueOffset})
            ON DUPLICATE KEY UPDATE queue_offset = #{queueOffset}
    </insert>

    <delete id="delete">
        DELETE
        FROM group_progress
        WHERE 1 = 1
        <if test="null != groupId">
            AND group_id = #{groupId}
        </if>
        <if test="null != topicId">
            AND topic_id = #{topicId}
        </if>
    </delete>

    <select id="list" resultType="GroupProgress">
        SELECT group_id, topic_id, queue_id, queue_offset
        FROM group_progress
        WHERE 1 = 1
        <if test="null != groupId">
            AND group_id = #{groupId}
        </if>

        <if test="null != topicId">
            AND topic_id = #{topicId}
        </if>
    </select>

    <select id="get" resultType="GroupProgress">
        SELECT group_id, topic_id, queue_id, queue_offset
        FROM group_progress
        WHERE 1 = 1
        <if test="null != groupId and null != topicId and null != queueId">
            AND group_id = #{groupId}
            AND topic_id = #{topicId}
            AND queue_id = #{queueId}
        </if>
    </select>

</mapper>