<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.automq.rocketmq.controller.metadata.database.mapper.LeaseMapper">

    <update id="renew" parameterType="Lease">
        UPDATE lease
        SET expiration_time = #{expirationTime}
        WHERE node_id = #{nodeId} AND epoch = #{epoch}
    </update>

    <update id="update" parameterType="Lease">
        UPDATE lease
        SET node_id = #{nodeId}, epoch = #{epoch}, expiration_time = #{expirationTime}
    </update>

    <select id="current" resultType="Lease">
        SELECT node_id, epoch, expiration_time
        FROM lease
    </select>

    <select id="currentWithWriteLock" resultType="Lease">
        SELECT node_id, epoch, expiration_time
        FROM lease FOR UPDATE
    </select>

    <select id="currentWithShareLock" resultType="Lease">
        SELECT node_id, epoch, expiration_time
        FROM lease FOR SHARE
    </select>

</mapper>