<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.automq.rocketmq.controller.metadata.database.mapper.NodeMapper">
    <insert id="create" parameterType="Node" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO node (name, instance_id, volume_id, hostname, vpc_id, address)
        VALUES (#{name}, #{instanceId}, #{volumeId}, #{hostName}, #{vpcId}, #{address})
    </insert>

    <update id="increaseEpoch" parameterType="int">
        UPDATE node
        SET epoch = epoch + 1
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM node WHERE id = #{id}
    </delete>

    <select id="list" resultType="Node" >
        SELECT id, name, instance_id, volume_id, hostname, vpc_id, address, epoch
        FROM node
    </select>

    <select id="deltaList" parameterType="date" resultType="Node">
        SELECT id, name, instance_id, volume_id, hostname, vpc_id, address, epoch
        FROM node
        WHERE update_time >= #{updateTime}
    </select>

    <select id="getByInstanceId" resultType="Node" parameterType="string">
        SELECT id, name, instance_id, volume_id, hostname, vpc_id, address, epoch
        FROM node
        WHERE instance_id = #{instanceId}
    </select>

</mapper>