<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.automq.rocketmq.controller.metadata.database.mapper.RangeMapper">

    <insert id="create" parameterType="Range" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO `range` (range_id, stream_id, epoch, start_offset, end_offset, broker_id)
        VALUES (
            #{rangeId},
            #{streamId},
            #{epoch},
            #{startOffset},
            #{endOffset},
            #{brokerId}
        )
    </insert>

    <update id="update">
        UPDATE `range`
        <set>
            <if test="null != streamId">
                stream_id = #{streamId},
            </if>
            <if test="null != epoch">
                epoch = #{epoch},
            </if>
            <if test="null != startOffset">
                start_offset = #{startOffset},
            </if>
            <if test="null != endOffset">
                end_offset = #{endOffset},
            </if>
            <if test="null != brokerId">
                broker_id = #{brokerId},
            </if>
        </set>
        WHERE 1 = 1
        <if test="null != rangeId">
             AND range_id = #{rangeId}
        </if>
        <if test="null != id">
            AND id = #{id}
        </if>
    </update>

    <select id="getByRangeId" resultType="Range">
        SELECT id, range_id, stream_id, epoch, start_offset, end_offset, broker_id
        FROM `range`
        WHERE range_id = #{rangeId}
    </select>

    <select id="getById" resultType="Range" parameterType="long">
        SELECT id, range_id, stream_id, epoch, start_offset, end_offset, broker_id
        FROM `range`
        WHERE id = #{id}
    </select>

    <select id="get" resultType="Range">
        SELECT id, range_id, stream_id, epoch, start_offset, end_offset, broker_id
        FROM `range`
        WHERE 1 = 1
        <if test="null != rangeId">
            AND range_id = #{rangeId}
        </if>
        <if test="null != streamId and null != brokerId">
            AND stream_id = #{streamId}
            AND broker_id = #{brokerId}
        </if>
    </select>

    <delete id="delete">
        DELETE FROM `range`
        WHERE 1 = 1
        <if test="null != rangeId">
            AND range_id = #{rangeId}
        </if>
        <if test="null != streamId">
            AND stream_id = #{streamId}
        </if>
    </delete>

    <select id="listByStreamId" resultType="Range">
        SELECT id, range_id, stream_id, epoch, start_offset, end_offset, broker_id
        FROM `range`
        WHERE stream_id = #{streamId}
    </select>

    <select id="listByBrokerId" resultType="Range">
        SELECT id, range_id, stream_id, epoch, start_offset, end_offset, broker_id
        FROM `range`
        WHERE broker_id = #{brokerId}
    </select>

    <select id="list" resultType="Range">
        SELECT id, range_id, stream_id, epoch, start_offset, end_offset, broker_id
        FROM `range`
        WHERE 1 = 1
        <if test="null != brokerId">
            AND broker_id = #{brokerId}
        </if>
        <if test="null != streamId">
            AND stream_id = #{streamId}
        </if>
        <if test="null != offset">
            AND start_offset &lt;= #{offset}
            AND end_offset &gt; #{offset}
        </if>
    </select>

</mapper>