<!--
  ~ Copyright 2024, AutoMQ CO.,LTD.
  ~
  ~ Use of this software is governed by the Business Source License
  ~ included in the file BSL.md
  ~
  ~ As of the Change Date specified in that file, in accordance with
  ~ the Business Source License, use of this software will be governed
  ~ by the Apache License, Version 2.0
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.automq.rocketmq.metadata.mapper.LeaseMapper">

    <update id="renew" parameterType="Lease">
        UPDATE lease
        SET expiration_time = #{expirationTime}
        WHERE node_id = #{nodeId} AND epoch = #{epoch}
    </update>

    <update id="update" parameterType="Lease">
        UPDATE lease
        SET node_id = #{nodeId}, epoch = #{epoch}, expiration_time = #{expirationTime}
    </update>

    <select id="current" resultType="Lease">
        SELECT node_id, epoch, expiration_time
        FROM lease
    </select>

    <select id="currentWithWriteLock" resultType="Lease">
        SELECT node_id, epoch, expiration_time
        FROM lease FOR UPDATE
    </select>

    <select id="currentWithShareLock" resultType="Lease">
        SELECT node_id, epoch, expiration_time
        FROM lease FOR SHARE
    </select>

</mapper>