<!--
  ~ Copyright 2024, AutoMQ CO.,LTD.
  ~
  ~ Use of this software is governed by the Business Source License
  ~ included in the file BSL.md
  ~
  ~ As of the Change Date specified in that file, in accordance with
  ~ the Business Source License, use of this software will be governed
  ~ by the Apache License, Version 2.0
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.automq.rocketmq.metadata.mapper.NodeMapper">
    <insert id="create" parameterType="Node" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO node (name, instance_id, volume_id, hostname, vpc_id, address)
        VALUES (#{name}, #{instanceId}, #{volumeId}, #{hostName}, #{vpcId}, #{address})
    </insert>

    <update id="update" parameterType="Node">
        UPDATE node
        <set>
            <if test="epoch > 0">epoch = #{epoch},</if>
            <if test="null != address">address = #{address},</if>
            <if test="null != instanceId">instance_id = #{instanceId},</if>
            <if test="null != volumeId">volume_id = #{volumeId},</if>
            <if test="null != hostName">host_name = #{hostName},</if>
            <if test="null != vpcId">vpc_id = #{vpcId},</if>
        </set>
        <where>
            <if test="id > 0">id = #{id}</if>
            <if test="null != name">AND name = #{name}</if>
        </where>
    </update>

    <delete id="delete">
        DELETE
        FROM node
        <where>
            <if test="null != id">id = #{id}</if>
        </where>
    </delete>

    <select id="list" resultType="Node">
        SELECT id, name, instance_id, volume_id, hostname, vpc_id, address, epoch
        FROM node
        <where>
            <if test="null != updateTime">update_time >= #{updateTime}</if>
        </where>
    </select>

    <select id="get" resultType="Node" >
        SELECT id, name, instance_id, volume_id, hostname, vpc_id, address, epoch
        FROM node
        <where>
            <if test="null != id">AND id = #{id}</if>
            <if test="null != instanceId">AND instance_id = #{instanceId}</if>
            <if test="null != name">AND name = #{name}</if>
            <if test="null != volumeId">AND volume_id = #{volumeId}</if>
        </where>
    </select>
</mapper>