<!--
  ~ Copyright 2024, AutoMQ CO.,LTD.
  ~
  ~ Use of this software is governed by the Business Source License
  ~ included in the file BSL.md
  ~
  ~ As of the Change Date specified in that file, in accordance with
  ~ the Business Source License, use of this software will be governed
  ~ by the Apache License, Version 2.0
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.automq.rocketmq.metadata.mapper.RangeMapper">

    <insert id="create" parameterType="Range" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO `range` (range_id, stream_id, epoch, start_offset, end_offset, node_id)
        VALUES (
            #{rangeId},
            #{streamId},
            #{epoch},
            #{startOffset},
            #{endOffset},
            #{nodeId}
        )
    </insert>

    <update id="update">
        UPDATE `range`
        <set>
            <if test="null != streamId">
                stream_id = #{streamId},
            </if>
            <if test="null != epoch">
                epoch = #{epoch},
            </if>
            <if test="null != startOffset">
                start_offset = #{startOffset},
            </if>
            <if test="null != endOffset">
                end_offset = #{endOffset},
            </if>
            <if test="null != nodeId">
                node_id = #{nodeId},
            </if>
        </set>
        <where>
            <if test="null != rangeId">range_id = #{rangeId}</if>
            <if test="null != id">AND id = #{id}</if>
        </where>
    </update>

    <select id="getById" resultType="Range">
        SELECT id, range_id, stream_id, epoch, start_offset, end_offset, node_id
        FROM `range`
        WHERE id = #{id}
    </select>

    <select id="get" resultType="Range">
        SELECT id, range_id, stream_id, epoch, start_offset, end_offset, node_id
        FROM `range`
        <where>
            <if test="null != streamId">stream_id = #{streamId}</if>
            <if test="null != rangeId">AND range_id = #{rangeId}</if>
            <if test="null != nodeId">AND node_id = #{nodeId}</if>
        </where>
    </select>

    <delete id="delete">
        DELETE FROM `range`
        <where>
            <if test="null != rangeId">range_id = #{rangeId}</if>
            <if test="null != streamId">AND stream_id = #{streamId}</if>
        </where>
    </delete>

    <select id="listByStreamId" resultType="Range">
        SELECT id, range_id, stream_id, epoch, start_offset, end_offset, node_id
        FROM `range`
        WHERE stream_id = #{streamId}
    </select>

    <select id="listByNodeId" resultType="Range">
        SELECT id, range_id, stream_id, epoch, start_offset, end_offset, node_id
        FROM `range`
        WHERE node_id = #{nodeId}
    </select>

    <select id="list" resultType="Range">
        SELECT id, range_id, stream_id, epoch, start_offset, end_offset, node_id
        FROM `range`
        <where>
            <if test="null != nodeId">AND node_id = #{nodeId}</if>
            <if test="null != streamId">AND stream_id = #{streamId}</if>
            <if test="null != offset">
                AND start_offset &lt;= #{offset}
                AND end_offset &gt; #{offset}
            </if>
        </where>
    </select>

</mapper>