<!--
  ~ Copyright 2024, AutoMQ CO.,LTD.
  ~
  ~ Use of this software is governed by the Business Source License
  ~ included in the file BSL.md
  ~
  ~ As of the Change Date specified in that file, in accordance with
  ~ the Business Source License, use of this software will be governed
  ~ by the Apache License, Version 2.0
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.automq.rocketmq.metadata.mapper.S3ObjectMapper">
    <delete id="rollback">
        DELETE
        FROM s3object
        WHERE state = 1
        AND #{current} >= expired_timestamp
    </delete>

    <select id="getById" resultType="S3Object">
        SELECT id, stream_id, object_size, prepared_timestamp, committed_timestamp, expired_timestamp,
        marked_for_deletion_timestamp, state
        FROM s3object
        WHERE id = #{id}
    </select>

    <update id="markToDelete">
        UPDATE s3object
        SET marked_for_deletion_timestamp = #{time},
            state = 3
        WHERE
            id = #{id}
    </update>

    <delete id="deleteByCriteria">
        DELETE
        FROM s3object
        <where>
            <if test="null != criteria.streamId">stream_id = #{criteria.streamId}</if>
            <if test="null != criteria.state">AND state = #{criteria.state}</if>
            <if test="null != criteria.expiredTimestamp">
                <![CDATA[
                   AND expired_timestamp < #{criteria.expiredTimestamp}
                ]]>
            </if>
            <if test="null != criteria.ids">
                <foreach item="item" collection="criteria.ids" open="AND id IN (" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>

    <insert id="prepare" parameterType="S3Object">
        INSERT INTO s3object (id, prepared_timestamp, expired_timestamp)
        VALUES (#{id}, #{preparedTimestamp}, #{expiredTimestamp})
    </insert>

    <update id="commit">
        UPDATE s3object
        SET state = 2,
        object_size = #{objectSize},
        stream_id = #{streamId},
        committed_timestamp = #{committedTimestamp}
        WHERE id = #{id}
    </update>

    <select id="list" resultType="S3Object">
        SELECT id, object_size, stream_id, prepared_timestamp, committed_timestamp, expired_timestamp,
        marked_for_deletion_timestamp, state
        FROM s3object
        <where>
            <if test="null != criteria.state">state = #{criteria.state}</if>
            <if test="null != criteria.streamId">AND stream_id = #{criteria.streamId}</if>
            <if test="null != criteria.expiredTimestamp">
                <![CDATA[
                   AND expired_timestamp < #{criteria.expiredTimestamp}
                ]]>
            </if>

        </where>
    </select>

    <select id="totalDataSize" resultType="java.lang.Long">
        SELECT SUM(object_size) AS total
        FROM s3object
        WHERE stream_id = #{streamId}
    </select>


</mapper>