<!--
  ~ Copyright 2024, AutoMQ CO.,LTD.
  ~
  ~ Use of this software is governed by the Business Source License
  ~ included in the file BSL.md
  ~
  ~ As of the Change Date specified in that file, in accordance with
  ~ the Business Source License, use of this software will be governed
  ~ by the Apache License, Version 2.0
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.automq.rocketmq.metadata.mapper.S3StreamObjectMapper">

    <insert id="create" parameterType="S3StreamObject" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
        s3streamobject (object_id, object_size, stream_id, start_offset, end_offset, base_data_timestamp,
        committed_timestamp, created_timestamp)
        VALUES (
        #{objectId},
        #{objectSize},
        #{streamId},
        #{startOffset},
        #{endOffset},
        #{baseDataTimestamp},
        #{committedTimestamp},
        #{createdTimestamp}
        )
    </insert>

    <select id="getById" resultType="S3StreamObject">
        SELECT id, object_id, object_size, stream_id, start_offset, end_offset, base_data_timestamp, committed_timestamp
        FROM s3streamobject
        WHERE id = #{id}
    </select>

    <select id="listByStreamId" resultType="S3StreamObject">
        SELECT id, object_id, object_size, stream_id, start_offset, end_offset, base_data_timestamp, committed_timestamp
        FROM s3streamobject
        WHERE stream_id = #{streamId}
    </select>

    <select id="listByObjectId" resultType="S3StreamObject">
        SELECT id, object_id, object_size, stream_id, start_offset, end_offset, base_data_timestamp, committed_timestamp
        FROM s3streamobject
        WHERE object_id = #{objectId}
    </select>

    <select id="getByObjectId" resultType="S3StreamObject">
        SELECT id, object_id, object_size, stream_id, start_offset, end_offset, base_data_timestamp, committed_timestamp
        FROM s3streamobject
        WHERE object_id = #{objectId}
    </select>

    <insert id="commit" parameterType="S3StreamObject" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO s3streamobject(
            stream_id,
            object_id,
            object_size,
            start_offset,
            end_offset,
            base_data_timestamp,
            committed_timestamp)
        VALUES (
            #{streamId},
            #{objectId},
            #{objectSize},
            #{startOffset},
            #{endOffset},
            #{baseDataTimestamp},
            #{committedTimestamp})
    </insert>

    <delete id="delete">
        DELETE
        FROM s3streamobject
        <where>
            <if test="null != id">id = #{id}</if>
            <if test="null != objectId">AND object_id = #{objectId}</if>
            <if test="null != streamId">AND stream_id = #{streamId}</if>
        </where>
    </delete>

    <delete id="batchDelete">
        DELETE
        FROM s3streamobject
        <where>
            <foreach collection="objectIds" item="id" separator="," open="object_id IN (" close=")" nullable="false">
                #{id}
            </foreach>
        </where>
    </delete>

    <select id="getByStreamAndObject" resultType="S3StreamObject">
        SELECT id, object_id, object_size, stream_id, start_offset, end_offset, base_data_timestamp, committed_timestamp
        FROM s3streamobject
        WHERE object_id = #{objectId} and stream_id = #{streamId}
    </select>

    <select id="list" resultType="S3StreamObject">
        SELECT id, object_id, object_size, stream_id, start_offset, end_offset, base_data_timestamp, committed_timestamp
        FROM s3streamobject
        <where>
            <if test="null != objectId">object_id = #{objectId}</if>
            <if test="null != streamId">AND stream_id = #{streamId}</if>
            <if test="null != endOffset">AND start_offset &lt;= #{endOffset}</if>
            <if test="null != startOffset">AND end_offset &gt; #{startOffset}</if>
        </where>
        ORDER BY start_offset ASC
        <if test="null != limit">
            LIMIT #{limit}
        </if>
    </select>

    <select id="recyclable">
        SELECT id, object_id, object_size, stream_id, start_offset, end_offset, base_data_timestamp, committed_timestamp
        FROM s3streamobject
        WHERE
        <foreach collection="streamIds" item="streamId" open="stream_id IN (" close=")" separator=",">
            #{streamId}
        </foreach>
        AND committed_timestamp <![CDATA[ < ]]>  #{threshold}
    </select>

</mapper>