<!--
  ~ Copyright 2024, AutoMQ CO.,LTD.
  ~
  ~ Use of this software is governed by the Business Source License
  ~ included in the file BSL.md
  ~
  ~ As of the Change Date specified in that file, in accordance with
  ~ the Business Source License, use of this software will be governed
  ~ by the Apache License, Version 2.0
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.automq.rocketmq.metadata.mapper.SequenceMapper">

    <insert id="create">
        INSERT INTO sequence(name, next)
        VALUES (#{name}, #{next})
    </insert>


    <update id="update">
        UPDATE sequence
        SET next = #{next}
        WHERE name = #{name}
    </update>

    <select id="next" resultType="java.lang.Long">
        SELECT next
        FROM sequence
        WHERE name = #{name}
        FOR UPDATE
    </select>


</mapper>