<!--
  ~ Copyright 2024, AutoMQ CO.,LTD.
  ~
  ~ Use of this software is governed by the Business Source License
  ~ included in the file BSL.md
  ~
  ~ As of the Change Date specified in that file, in accordance with
  ~ the Business Source License, use of this software will be governed
  ~ by the Apache License, Version 2.0
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.automq.rocketmq.metadata.mapper.SubscriptionMapper">
    <insert id="create" parameterType="Subscription" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO subscription(group_id, topic_id, expression)
        VALUES (#{groupId}, #{topicId}, #{expression})
    </insert>

    <select id="list" resultType="Subscription">
        SELECT id, group_id, topic_id, expression, create_time, update_time
        FROM subscription
        <where>
            <if test="null != groupId">group_id = #{groupId}</if>
            <if test="null != topicId">AND topic_id = #{topicId}</if>
            <if test="null != updateTime">AND update_time >= #{updateTime}</if>
        </where>
    </select>


</mapper>