<!--
  ~ Copyright 2024, AutoMQ CO.,LTD.
  ~
  ~ Use of this software is governed by the Business Source License
  ~ included in the file BSL.md
  ~
  ~ As of the Change Date specified in that file, in accordance with
  ~ the Business Source License, use of this software will be governed
  ~ by the Apache License, Version 2.0
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.automq.rocketmq.metadata.mapper.TopicMapper">

    <insert id="create" parameterType="Topic" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO topic(name, queue_num, retention_hours, status, accept_message_types)
        VALUES (
            #{name},
            #{queueNum},
            #{retentionHours},
            #{status},
            #{acceptMessageTypes}
        )
    </insert>

    <update id="updateStatusById">
        UPDATE topic
        SET status = #{status}
        WHERE id = #{id}
    </update>


    <update id="update">
        UPDATE topic
        <set>
            <if test="null != status">status = #{status},</if>
            <if test="null != name">name = #{name},</if>
            <if test="null != queueNum">queue_num = #{queueNum},</if>
            <if test="null != retentionHours">retention_hours = #{retentionHours},</if>
            <if test="null != acceptMessageTypes">accept_message_types = #{acceptMessageTypes},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE
        FROM topic
        <where>
            <if test="null != id">id = #{id}</if>
        </where>
    </delete>

    <delete id="recycle">
        DELETE FROM topic
        WHERE status = #{status}
        AND #{updateTime} >= update_time
    </delete>

    <select id="get" resultType="Topic">
        SELECT id, name, queue_num, retention_hours, status, create_time, update_time, accept_message_types
        FROM topic
        <where>
            <if test="null != id">AND id = #{id}</if>
            <if test="null != name and '' != name">AND name = #{name}</if>
        </where>
    </select>

    <select id="list" resultType="Topic">
        SELECT id, name, queue_num, retention_hours, status, create_time, update_time, accept_message_types
        FROM topic
        <where>
            <if test="status != null">AND status = #{status}</if>
            <if test="updateTime != null">AND update_time >= #{updateTime}</if>
        </where>
    </select>
</mapper>