<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<Configuration shutdownHook="disable">
    <Properties>
        <Property name="LOG_DIR">${sys:user.home}${sys:file.separator}logs${sys:file.separator}rocketmqlogs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="rollingFile" fileName="${LOG_DIR}/automq.log" filePattern="${LOG_DIR}/automq.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}{GMT+8} %-5p %m%n"/>
            <SizeBasedTriggeringPolicy size="100MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="controllerAppender" fileName="${LOG_DIR}/controller.log" filePattern="${LOG_DIR}/controller.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}{GMT+8} %-5p %m%n"/>
            <SizeBasedTriggeringPolicy size="100MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="mybatisAppender" fileName="${LOG_DIR}/mybatis.log" filePattern="${LOG_DIR}/mybatis.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}{GMT+8} %-5p %m%n"/>
            <SizeBasedTriggeringPolicy size="100MB" />
            <DefaultRolloverStrategy max="2"/>
        </RollingFile>

        <RollingFile name="streamAppender" fileName="${LOG_DIR}/stream.log" filePattern="${LOG_DIR}/stream.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}{GMT+8} %-5p %m%n"/>
            <SizeBasedTriggeringPolicy size="100MB"/>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.automq.rocketmq.controller" level="info" additivity="false">
            <AppenderRef ref="controllerAppender" />
        </Logger>
        <Logger name="com.automq.rocketmq.metadata" level="info" additivity="false">
            <AppenderRef ref="controllerAppender" />
        </Logger>
        <Logger name="com.automq.stream" level="info" additivity="false">
            <AppenderRef ref="streamAppender"/>
        </Logger>
        <Logger name="com.automq.rocketmq.metadata.mapper" level="debug" additivity="false">
            <AppenderRef ref="mybatisAppender" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>

</Configuration>